<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">

  <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.8.0.js"></script>
  <script src="https://js.arcgis.com/4.3/"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/javascript/geocode.js"></script>
</head>
<body>
  <h1>Wheelable</h1>
  {{{body}}}
</body>
</html>
