
<style type="text/css">
  body{
    background-color: #60AAF1;
  }
</style>




<div class="blue">
<div class="col-md-12">
<img src="/assests/img/logo-1.png" class="center">
<h2 id="sub-title">Bringing Accessablity to You</h2>

</div>
</div>

<div class="container formstyle">
<form class="" action="/companyInfo" method="post">
<h2 style="color:#60AAF1;">Update Our Records</h2>
  <div class="accessibility">
    <div class="radio accessible ">
      <label><input id='accessibleradio' type="radio" value="true"
        name="accessibleFriendly">Accessible</label>
    </div>
  </div>
  <div class="accessibleAdditions">
    <div class="radio accessibleElevator ">
      <label><input type="checkbox" value="true" name="elevatorRadio">Elevator</label>
    </div>
    <div class="radio accessibleRamp ">
      <label><input type="checkbox" value="true" name="rampRadio">Ramp</label>
    </div>
    <div class="radio accessibleStairs ">
      <label><input type="checkbox" value="true" name="stairsRadio">Stairs</label>
    </div>
  </div>
  <div class="radio notaccessible ">
    <label><input id='notaccessibleradio' type="radio" value="false"
      name="accessibleFriendly">Not Accessible</label>
  </div>
  <div class="form-group">
    <label for="usr">Reason:</label>
    <textarea placeholder='Why is this company accessible or not accessible' class="form-control" name='reason' rows="5" id="comment"></textarea>
  </div>
  <input type="submit" class="btn btn-info submitBtn" value="Submit" style="background-color:#60AAF1;">
</form>
</div>

<script type="text/javascript">
    $('.accessibleAdditions').hide()
    $('#accessibleradio').on('click', function(event) {
      $('.accessibleAdditions').show()
    });
    $('#notaccessibleradio').on('click', function(event) {
      $('.accessibleAdditions').hide()
    });
</script>



