<form action="/location" method="POST">
  Name: <input type="text" name="name">
  Street: <input type="text" name="street">
  Zip: <input type="number" name="zip">
  City: <input type="text" name"city">
  State: <input type="text" name="state">
  Country: <input type="text" name="country">
  Accessible: <input type="checkbox">
  <input type="submit">
</form>
