<style type="text/css">
	body{
		background-color: #60AAF1;
	}
</style>
<div class="blue">
  <div class="col-md-12">
    <img src="/assets/img/logo-1.png" class="center">
    <h2 id="sub-title">Bringing Accessablity to You</h2>
    <button id="button-main1" type="button" class="btn btn-primary btn-lg">Sign Up / Sign In</button>
    <br>
    <a href="/map" id="button-main2"  class="btn btn-primary
    btn-lg">Skip</a>
  </div>
</div>
