<style type="text/css">
	body{
		background-color: #60AAF1;
	}
</style>
<div class="blue">
<div class="col-md-12">
<img src="/assests/img/logo-1.png" class="center">
<h2 id="sub-title">Bringing Accessablity to You</h2>
<button id="button-main1" type="button" class="btn btn-primary btn-lg">Sign Up / Sign In</button>
<br>
<button onclick="next()" id="button-main2" type="button" class="btn btn-primary btn-lg">Skip</button>
</div>
</div>
<script type="text/javascript">
function next(){
	window.location.replace("/search");
}
</script>