<style>
  html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 94.5%;
    width: 100%;
  }nav{
		background-color: #60AAF1 !important;
  }.hg1{
  	font-size: 50px;
  	border:solid #60AAF1;
  	height: 100%;
  	width: 30%;
  	float:right;
	background-color: #60AAF1;
	padding: 20px;
	padding-left: 40px;
  color: white;

  }.hg2{
  	font-size: 50px;
  	border:solid white;
  	height: 100%;
  	width: 70%;
  	float: right;
    opacity: 0.8;
    color: darkgrey;

  }footer{
  	height: 100%;
  	max-height:200px;
  }
</style>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <a class="navbar-brand" href="#"><img src="/assets/img/logo-1.png" style="width=10%"></a>


</nav>
  <div id="viewDiv"></div>

<footer class="footer">
<div class="hg1">
<p class="info"></p>
</div>

<div class="hg2">
<p class="question"></p>
</div>
</footer>
<script type="text/javascript">
        $('.accessibleAdditions').hide()
        $('#accessibleradio').on('click', function(event) {
            $('.accessibleAdditions').show()
        });
        $('#notaccessibleradio').on('click', function(event) {
            $('.accessibleAdditions').hide()
        });
</script>

