
<div class="container" style="margin-top:35%;">
<div class="col-md-12">
<h2 id="sub-question">Where do you</h2>
<h2 id="sub-question1">want to go?</h2>
<div class="input-group input-group-lg">
<div class="container">
  <form>
    <div class="form-group row">
 

        <input id="search1" type="text" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="Search">

    </div>
    </div>
  </form>
</div>





  <button id="button-second" type="button" class="btn btn-primary btn-lg">Next</button>
</div>
</div>
</div>
